

body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: #34495e;
}

.box{
width: 300px;
padding: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
border-radius: 5px;
}

.box h1{
color:white;
font-weight: 600;
}
.box p{
color:white;
}
.box a{
color:#3498db;
text-decoration:none;
}


.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="number"]{
border:0;
background: none;
display: block;
margin: 5px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
border-radius: 25px;
transition: 0.30s;
}
.box input[type="text"]:hover,.box input[type="password"]:hover,.box input[type="email"]:hover,.box input[type="number"]:hover{
width: 270px;
border-color: tomato;
}

.box input[type=submit]{
border:0;
background: none;
display: block;
margin: 5px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 150px;
outline: none;
border-radius: 25px;
transition: 0.30s;
}

.box input[type=submit]:hover{
background-color: tomato;
}


.box input[placeholder],.box input[value]{
color:white;
font-weight: 50px;
}
